* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 150px;
}

/* Left Section */
.left h1 {
    color: #1877f2;
    font-size: 60px;
    margin-bottom: 10px;
}

.left p {
    font-size: 24px;
    width: 400px;
}

/* Right Section */
.login-box {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #1877f2;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-btn:hover {
    background-color: #166fe5;
}

.forgot {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

hr {
    margin: 15px 0;
    border: 0;
    height: 1px;
    background: #dddfe2;
}

.create-btn {
    background-color: #42b72a;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #36a420;
}